{% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == 'success' %}
                    <div id="success-toast" class="absolute bottom-5 end-4  fade">
                    <div class="max-w-xs bg-teal-100 border border-teal-200 text-sm text-teal-800 rounded-lg " role="alert" tabindex="-1" aria-labelledby="hs-toast-soft-color-teal-label">
                        <div id="hs-toast-soft-color-teal-label" class="flex p-4">
                        {{ message }}
                        <div class="ms-auto">
                            <button id="success-close-btn" type="button" class="close inline-flex shrink-0 justify-center items-center size-5 rounded-lg text-gray-400 opacity-50 hover:opacity-100 focus:outline-none focus:opacity-100 " aria-label="Close">
                            <span class="sr-only">Close</span>
                            <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M18 6 6 18"></path>
                                <path d="m6 6 12 12"></path>
                            </svg>
                            </button>
                        </div>
                        </div>
                    </div>
                    </div>
                {% else %}
                    <div id="error-toast" class="absolute bottom-5 end-4 fade">
                    <div class="max-w-xs bg-red-100 border border-red-200 text-sm text-red-800 rounded-lg" role="alert" tabindex="-1" aria-labelledby="hs-toast-soft-color-red-label">
                        <div id="hs-toast-soft-color-red-label" class="flex p-4">
                            {{ message }}
                        <div class="ms-auto">
                            <button id="error-close-btn" type="button" class="close inline-flex shrink-0 justify-center items-center size-5 rounded-lg text-gray-400 opacity-50 hover:opacity-100 focus:outline-none focus:opacity-100" aria-label="Close">
                            <span class="sr-only">Close</span>
                            <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M18 6 6 18"></path>
                                <path d="m6 6 12 12"></path>
                            </svg>
                            </button>
                        </div>
                        </div>
                    </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
{% endwith %}

