{% extends "brand/brand_layout.html" %}

{% block section %}
<nav class="flex px-4 mx-auto w-full max-w-7xl" aria-label="Breadcrumb">
  <ol class="inline-flex items-center space-x-1 md:space-x-3">
    <li class="inline-flex items-center">
      <a
        href="{{ url_for('brand.dashboard', brand_id=brand_id)}}"
        class="ml-1 inline-flex text-sm font-medium text-gray-800 hover:underline "
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="mr-4 h-4 w-4"
        >
          <path d="m3 9 9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
          <polyline points="9 22 9 12 15 12 15 22"></polyline>
        </svg>
        brand
      </a>
    </li>

    {% for crumb in url_for('brand.profile', brand_id=brand_id).split('/')[2:]  %}
        <li>
      <div class="flex items-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="h-4 w-4"
        >
          <polyline points="9 18 15 12 9 6"></polyline>
        </svg>
        <a
          href="#"
          class="ml-1 text-sm font-medium text-gray-800 hover:underline md:ml-2"
        >
          {{ crumb }}
        </a>
      </div>
    </li>
    {% endfor %}    
</nav>


<section class="mx-auto w-full max-w-7xl px-4 py-4 mt-5">
  <div class="flex flex-col space-y-4 md:flex-row md:items-center md:justify-between">
    <div>
      <h2 class="text-lg font-semibold">Profile</h2>
      <p class="mt-1 text-sm text-gray-700">
        This is a profile of brand. 
      </p>
    </div>
      
    <button
    type="button"
    id="add-campaign-btn"
    class="rounded-md bg-black px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-black/80 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black"
    >
    Edit Profile
    </button>
  </div>
 

</section>
{% endblock %}